.header {
  &.fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.logo {
  a {
    color: white;
  }
}

.menu {
  display: flex;
  gap: 30px;
  &__item {
    display: flex;
    position: relative;
  }
  &__item-link {
    color: white;
    display: flex;
    position: relative;
    transition: 0.3s color;
    &:after {
      position: absolute;
      content: '';
      left: 0;
      bottom: -3px;
      background: #FFF;
      height: 1px;
      width: 100%;
      transform: scale(0);
      transition: 0.5s transform;
      // Comment if you need border animation
      // display: none;
    }
    &:hover {
      &:after {
        transform: scale(1);
      }
    }
  }
  @media screen and (max-width: $burgerBreakpoint) {
    position: fixed;
    background: #33170B;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    &.active {
      display: flex;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      pointer-events: all;
      justify-content: center;
      align-items: center;
      z-index: 2;
      animation: fade 0.1s linear;
    }
  }
}

.burger {
  display: none;
  background: transparent;
  z-index: 3;
  @media screen and (max-width: $burgerBreakpoint) {
    display: flex;
    position: relative;
    height: 20px;
    width: 30px;
    &.active {
      &:before {
        background: $burgerActiveColor;
        transform: rotate(45deg);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        top: 8px;
      }
      &:after {
        background: $burgerActiveColor;
        transform: rotate(-45deg);
        bottom: 10px;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }
      & span {
        transform: scale(0);
      }
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background: $burgerColor;
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
    &:before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      position: absolute;
      top: 9px;
      right: 0;
      width: 100%;
      background: $burgerColor;
      height: 2px;
      transform: scale(1);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
  }
}

.nav__book {
  color: #FFF;
  padding: 15px 30px;
  border: 2px solid #D5621D;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.3s;
  &:hover {
    background-color: #D5621D;
  }
  @media screen and (max-width: $burgerBreakpoint) {
    display: none;
    &.active {
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 40px;
      flex-direction: column;
      pointer-events: all;
      justify-content: center;
      align-items: center;
      z-index: 2;
      animation: fade 0.1s linear;
    }
  }
}